@import "global.less";

body {
  margin: auto;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  .navbar {
    min-height: 70px;
    background-color: @mainBackground;
    background-image: url(../../app/images/home-bg.jpg)!important;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 71%;
    // overflow: hidden;
    &.navbar-default {
      margin-bottom: 0px;
      background-color: @navOpacity;
      background-image: none;
      border: none;
    }
    .navbar-nav {
      & > .active > a, & > .active > a:hover, & > .open > a {
        background-image: none!important;
        // background-color: #fff;
        color: @base;
      }
      & > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
    .navbar-toggle {
      margin-top: 18px;
    }
    .container-fluid > .navbar-header {
      min-height: 70px;
    }
  }
  .innerpage-container {
    min-height: 625px;
  }
  footer {
    background-color: @darkGray;
    text-align: center;
    padding-top: 10px;
    .text-muted {
      color: @lightGray;
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar-default {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: @mainBackground!important;
    .navbar-nav li > a {
      padding: 10px 15px!important;
    }
  }
}