<link rel="stylesheet/less" type="text/less" href="pages/contactTracing/contactTracing.less" />
<div class="container theme-showcase" role="main">
  <div class='jl-stepper'>
    <button type="button" class="btn stepper" ng-class="{'active' : currentStep === 1}" > Step <span class='stepper-number'>1</span></button> 
    <span class='stepper-line'></span>
    <button type="button" class="btn stepper" ng-class="{'active' : currentStep === 2}" > Step <span class='stepper-number'>2</span></button> 
    <span class='stepper-line'></span>
    <button type="button" class="btn stepper" ng-class="{'active' : currentStep === 3}" > Step <span class='stepper-number'>3</span></button> 
    <span class='stepper-line'></span>
    <button type="button" class="btn stepper" ng-class="{'active' : currentStep === 4}"> Step <span class='stepper-number'>4</span></button> 
  </div>
  
  <div class="contactTracingForm">
    <form>
      <!-- Step 1 -->
      <div class="contactDetails" ng-if="currentStep === 1">
        <div class="form-group form-group-lg" >
          <label for="exampleInputEmail1">Full Name *</label>
          <input class="form-control" ng-class="{'fieldError' : errors.step1.fullName}" type="text" name="fullName" ng-model="fields.step1.fullName"  placeholder="Full Name">
          <small class="form-text text-muted error" ng-if="errors.step1.fullName">{{errors.step1.fullName}}</small>
        </div>

        <div class="form-group form-group-lg">
          <label for="exampleInputEmail1">Email *</label>
          <input class="form-control" ng-class="{'fieldError' : errors.step1.email}" type="email" name="email" ng-model="fields.step1.email" placeholder="Email Address">
          <small class="form-text text-muted error" ng-if="errors.step1.email">{{errors.step1.email}}</small>
        </div>

        <div class="form-group form-group-lg">
          <label for="exampleInputEmail1">Contact Number *</label>
          <input class="form-control" ng-class="{'fieldError' : errors.step1.contactNumber}" type="text" name="contactNumber" ng-model="fields.step1.contactNumber"  placeholder="Contact Number *">
          <small class="form-text text-muted error" ng-if="errors.step1.contactNumber">{{errors.step1.contactNumber}}</small>
        </div>

        <div class="form-group form-group-lg">
          <label for="exampleInputEmail1">Address *</label>
          <input class="form-control" ng-class="{'fieldError' : errors.step1.address}" type="text" name="address"  ng-model="fields.step1.address" placeholder="Address">
          <small class="form-text text-muted error" ng-if="errors.step1.address">{{errors.step1.address}}</small>
        </div>
      </div>

      <!-- Step 2 -->
      <div class="contactDetails"  ng-if="currentStep === 2">
        <div class="form-group form-group-lg" >
          <label for="exampleInputEmail1">Temperature in Celsius (°C) *</label>
          <input class="form-control" ng-class="{'fieldError' : errors.step2.temperature}" type="text" name="temperature" ng-model="fields.step2.temperature"  placeholder="Temperature °C">
          <small class="form-text text-muted error" ng-if="errors.step2.temperature">{{errors.step2.temperature}}</small>
        </div>

        <div class="form-group form-group-lg">
          <label for="exampleInputEmail1" class="full-width">Feeling *</label>
          <div class="radio-inline">
            <label>
              <input type="radio" name="feeling" id="optionsRadios1" ng-model="fields.step2.feeling" value="well" checked>
              Well
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="feeling" id="optionsRadios2" ng-model="fields.step2.feeling" value="nauseous">
              Nauseous
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="feeling" id="optionsRadios3" ng-model="fields.step2.feeling" value="feverish">
              Feverish
            </label>
          </div>
          <small class="form-text text-muted error" ng-if="errors.step2.feeling">{{errors.step2.feeling}}</small>
        </div>

        <div class="form-group form-group-lg">
          <label for="exampleInputEmail1" class="full-width">Do you have cough? *</label>
          <div class="radio-inline">
            <label>
              <input type="radio" name="hasCough" id="optionsRadios1" ng-model="fields.step2.hasCough" value="yes">
              Yes
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="hasCough" id="optionsRadios2" ng-model="fields.step2.hasCough" value="no" checked>
              No
            </label>
          </div>
          <small class="form-text text-muted error" ng-if="errors.step2.hasCough">{{errors.step2.hasCough}}</small>
        </div>

        <div class="form-group form-group-lg">
          <label for="exampleInputEmail1" class="full-width">Have you been in contact with any CoVid? *</label>
          <div class="radio-inline">
            <label>
              <input type="radio" ng-change="handleCovidContactChange()" name="hadCovidContact" id="optionsRadios1" ng-model="fields.step2.hadCovidContact" value="yes">
              Yes
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" ng-change="handleCovidContactChange()" name="hadCovidContact" id="optionsRadios2" ng-model="fields.step2.hadCovidContact" value="no" checked>
              No
            </label>
          </div>
          <input class="form-control" ng-if="isAdditionalInfoShow" ng-class="{'fieldError' : fields.step2.hadCovidContact === 'yes' && errors.step2.additionalInfo}" type="text" name="additionalInfo" ng-model="fields.step2.additionalInfo"  placeholder="If yes, input the details of that person: * ">
          <small class="form-text text-muted error" ng-if="fields.step2.hadCovidContact === 'yes' && errors.step2.additionalInfo">{{errors.step2.additionalInfo}}</small>
        </div>
      </div>

      <!-- Step 3 -->
      <div class="contactDetails"  ng-if="currentStep === 3">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Contact Details</div>
              
                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item">Name: {{fields.step1.fullName}}</li>
                  <li class="list-group-item">Email: {{fields.step1.email}}</li>
                  <li class="list-group-item">Contact Number: {{fields.step1.contactNumber}}</li>
                  <li class="list-group-item">Address: {{fields.step1.address}}</li>
                  <li class="list-group-item">Temperature: {{fields.step2.temperature}}</li>
                  <li class="list-group-item">Temperature: {{fields.step2.temperature}}</li>
                  <li class="list-group-item">Feeling: {{fields.step2.feeling}}</li>
                  <li class="list-group-item">Do you have cough?: {{fields.step2.hasCough}}</li>
                  <li class="list-group-item">Have you been in contact with any CoVid?: {{fields.step2.hadCovidContact}}</li>
                  <li class="list-group-item">If yes, input the details of that person: {{fields.step2.additionalInfo}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Step 4 -->
      <div class="contactDetails"  ng-if="currentStep === 4">
        <div class="container">
          <div class="row">
            <h2>Thank you for you cooperation.</h2>
            <h4>Stay home and stay connected.</h4>
          </div>
        </div>
      </div>
    </form>
  </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reset Form</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to reset this form? This will go back to step 1.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="handleReset()" >Reset</button>
      </div>
    </div>
  </div>
</div>

  <div class='action-button'>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Reset
    </button>
    <button type="button" class="btn btn-lg btn-primary" ng-disabled="currentStep === 1" ng-click="handleBackClick()">Back</button>
    <button type="button" class="btn btn-lg btn-primary" ng-disabled="currentStep === 4" ng-click="handleNextClick()">{{currentStep === 3 ? 'Submit' : 'Next' }}</button>
  </div>
</div>
